.gam-Page
{
    /* Created by a gradiant generator. */
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(-45deg,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gam-Error
{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.gam-Status
{    
    color: black;
    font-weight: bold;
}

.gam-Link
{
    cursor: pointer;
}

/***********************************************************
*                     Base Widget
***********************************************************/

.gam-BaseWidget
{   
    margin                      :   0 auto;    
    font-size                   :   70%;
    padding                     :   3px;
    background                  :   #299a0b;
}


/***********************************************************
*                     Login Widget
***********************************************************/

.gam-LoginWidget
{
    background-color            :   #eee;
}


/***********************************************************
*                     Record List Widget
***********************************************************/

.gam-RecordListWidget
{
    background                  :   #299a0b;
    margin                      :   0 auto;
    background-color            :   #eee;
    font-size                   :   70%;
    padding                     :   3px;
    
}



.gam-Box
{
    width                       :   450px;
    padding                     :   5px;
    margin                      :   5px;
    
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #000000;
    border-left-color: #000000;
    border-bottom-color: #000000;
    border-top-color: #000000;
    background-color: #eee;
}

.gam-Textbox
{
    width: 400px;
    height: 100px;
}