<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <servlet-class>org.greenam.server.http.LoginRequiredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserService</servlet-name>
        <servlet-class>org.greenam.server.rpc.UserServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordService</servlet-name>
        <servlet-class>org.greenam.server.rpc.RecordServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistService</servlet-name>
        <servlet-class>org.greenam.server.rpc.ArtistServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <url-pattern>/_ah/login_required</url-pattern>
    </servlet-mapping>
    <!-- Security Constraints used by open id Login-->
    <!--<security-constraint>
        <web-resource-collection>
            <url-pattern>.*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint> -->
    <servlet-mapping>
        <servlet-name>UserService</servlet-name>
        <url-pattern>/org.greenam.Main/rpc/userservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordService</servlet-name>
        <url-pattern>/org.greenam.Main/rpc/recordservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistService</servlet-name>
        <url-pattern>/org.greenam.Main/rpc/artistservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
</web-app>
